* {
	margin: 0px;
	padding: 0px;
}
nav {
	margin-left: 20px;
	margin-right: 20px;	
}
header {
	background-color: blue;
	color: yellow;
	font-size: 26;
}
h1, h2 {
	padding: 10px;
}
.fondo-verde {
	background-color: green;
}
#barra_lateral {
	background-color: cyan;
	float: right;
}


